schema/roblox.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:group name="DataTypes">
        <xs:choice>
            <xs:element name="bool" type="bool" />
            <xs:element name="BinaryString" type="BinaryString" />
            <xs:element name="Color3uint8" type="Color3uint8" />
            <xs:element name="CoordinateFrame" type="CoordinateFrame" />
            <xs:element name="float" type="float" />
            <xs:element name="int" type="int" />
            <xs:element name="int64" type="int64" />
            <xs:element name="Ref" type="Ref" />
            <xs:element name="SharedString" type="SharedString" />
            <xs:element name="string" type="string" />
            <xs:element name="token" type="token" />
            <xs:element name="Vector3" type="Vector3" />

            <xs:element name="OptionalCoordinateFrame" type="OptionalCoordinateFrame" />
        </xs:choice>
    </xs:group>

    <xs:complexType name="bool">
        <xs:annotation>
            <xs:documentation> Represents a `true` or `false` value. </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:boolean">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="BinaryString">
        <xs:annotation>
            <xs:documentation> Represents a property that's serialized to and from binary data.
                Examples include tags and attributes. </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Color3uint8">
        <xs:annotation>
            <xs:documentation> Represents a non-HDR Color3 value where each component is packed into
                an integer. The upper 8-bits are not used, and the lower 24 are occupied by the `R`,
                `G`, and `B` components of the Color3 as integers between 0 and 255.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="CoordinateFrame">
        <xs:annotation>
            <xs:documentation> Represents a Roblox CFrame value. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="X" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `X` component of the CFrame value. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Y" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Y` component of the CFrame value. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Z" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Z` component of the CFrame value. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R00" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `X` component of the CFrame's RightVector. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R01" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `X` component of the CFrame's UpVector. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R02" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `X` component of the CFrame's LookVector with its sign
                        inverted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R10" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Y` component of the CFrame's RightVector. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R11" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Y` component of the CFrame's UpVector. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R12" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Y` component of the CFrame's LookVector with its sign
                        inverted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R20" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Z` component of the CFrame's RightVector. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R21" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Z` component of the CFrame's UpVector. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="R22" minOccurs="1" maxOccurs="1" type="xs:float">
                <xs:annotation>
                    <xs:documentation> The `Z` component of the CFrame's LookVector with its sign
                        inverted.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="DataTypeAttributes" />
    </xs:complexType>

    <xs:complexType name="float">
        <xs:annotation>
            <xs:documentation>Represents a 32-bit IEEE-754 floating point number. </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:float">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="int">
        <xs:annotation>
            <xs:documentation>Represents a 32-bit signed integer.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:int">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="int64">
        <xs:annotation>
            <xs:documentation>Represents a 64-bit signed integer.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:long">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Ref">
        <xs:annotation>
            <xs:documentation> Represents a link to an Instance. This should be equivalent to the
                `Ref` attribute of an `Item` somewhere in the file. </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="SharedString">
        <xs:annotation>
            <xs:documentation> Represents a SharedString from a repository at the end of the file.
                Used to reduce the file size and offset the memory footprint for large string
                properties. </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="string">
        <xs:annotation>
            <xs:documentation>Represents a string. Strings containing binary data or characters that
                are forbidden in XML should be wrapped in `</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="token">
        <xs:annotation>
            <xs:documentation> Represents a Roblox enumeration. </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:unsignedInt">
                <xs:attributeGroup ref="DataTypeAttributes" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="Vector3">
        <xs:annotation>
            <xs:documentation> Represents a Vector3. </xs:documentation>
        </xs:annotation>
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="X" type="xs:float">
                <xs:annotation>
                    <xs:documentation>The `X` component of the Vector3.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Y" type="xs:float">
                <xs:annotation>
                    <xs:documentation>The `Y` component of the Vector3.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Z" type="xs:float">
                <xs:annotation>
                    <xs:documentation>The `Z` component of the Vector3.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="DataTypeAttributes" />
    </xs:complexType>

    <!--
        I'm unhappy with this data type but also suspicious so it goes down here for now.
    -->
    <xs:complexType name="OptionalCoordinateFrame">
        <xs:annotation>
            <xs:documentation> A CFrame value that is Optional and may or may not be present. </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="CFrame" type="CoordinateFrame" minOccurs="0" maxOccurs="1" />
        </xs:choice>
        <xs:attributeGroup ref="DataTypeAttributes" />
    </xs:complexType>

    <xs:attributeGroup name="DataTypeAttributes">
        <xs:attribute name="name" type="xs:string">
            <xs:annotation>
                <xs:documentation>The name of the property this element represents.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:element name="roblox">
        <xs:annotation>
            <xs:documentation>A Roblox place or model file</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:sequence>
                    <xs:element name="Meta" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation> Represents a key-value pair of metadata for the file.
                                Currently, only `ExplicitAutoJoints` is used and it should be
                                `true`. </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:string">
                                    <xs:attribute name="name" type="xs:string" />
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="External" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation> Purpose unknown. Valid values are `nil` and `null`. </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Item" minOccurs="0" maxOccurs="unbounded" type="Item" />
                    <xs:element name="SharedStrings" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation> A repository for storing SharedString values as
                                key-value pairs that are referenced in the file above. </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="SharedString">
                                    <xs:annotation>
                                        <xs:documentation>An individual SharedString. The contents
                                            of this element represent the value of the SharedString
                                            and the `md5` attribute represents the key used by
                                            properties..</xs:documentation>
                                    </xs:annotation>
                                    <xs:complexType>
                                        <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                                <xs:attribute name="md5" type="xs:string">
                                                    <xs:annotation>
                                                        <xs:documentation>The key that's used by
                                                            SharedString properties to refer to this
                                                            SharedString. Despite the name, this
                                                            value may be anything and the hash is
                                                            not checked by Roblox.</xs:documentation>
                                                    </xs:annotation>
                                                </xs:attribute>
                                            </xs:extension>
                                        </xs:simpleContent>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:sequence>
            <xs:attribute name="version" use="required">
                <xs:annotation>
                    <xs:documentation> The version of Roblox's format that this document is. This
                        should be `4`. </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:pattern value="4" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="Item">
        <xs:annotation>
            <xs:documentation> A single Roblox Instance, alongside all of its properties and
                descendants. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Properties" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation> A list of all properties on an Instance. Any property not
                        listed here will be set to a default value, which varies from property to
                        property. Also, not every property will deserialize. </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:group ref="DataTypes" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Item" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="class" type="xs:string">
            <xs:annotation>
                <xs:documentation> The class of the Instance represented by this `Item`. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="referent" type="xs:string">
            <xs:annotation>
                <xs:documentation> A UID used by Roblox to represent this Instance when setting
                    properties with the `Instance` type. </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>